.faqs{
  padding-bottom: 160px;
}

.faqs__title{
  margin: 0;
  margin-bottom: 65px;
  font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 48px;
text-align: center;
letter-spacing: -2.14286px;
color: #495567;
}

.faqs__inner{
  display: flex;
  justify-content: space-between;
}

.faqs__inner--margin{
  margin-bottom: 65px;
}

.works__title{
  margin: 0;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.78571px;
  color: #495567;  
}

.works__open[open] .works__img{
  transform: rotate(180deg);
}

.works__item{
  width: 730px;
  padding: 32px 40px;
  margin-bottom: 16px;
  background-color: #F2F5F9;
  transition: all 0.3s ease;
}

.works__item:hover{
  background-color: #FFF4DF;
}

.details__open{
  font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
letter-spacing: -1.07143px;
list-style: none;
color: #495567;
position: relative;
}

.works__img{
  position: absolute;
  top: 7px;
  right: 0;
  transition: all 0.4s ease;
}

.details__text{
  margin: 0;
  margin-top: 24px;
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #495567;
}